#slider {       
    overflow: hidden;    
    background-color: grey;    
}

img {
    max-width: 100%;
    max-height: 100%
}

figure {
    height: 440px !important;
}

#slider figure img {
    object-fit: cover;
    width: 20%;
    height: auto;
    float: left;
    padding-right: 40px;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

@keyframes slider {
    0% {
        left: 0%;
    }
    20% {
        left: -110%;        
    }
    40% {
        left: -220%;
    }
    60% {
        left: -310%;
    }
    80% {
        left: -420%;
    }
    100% {
        left: -510%;
    }
    /* 95% {
        left: -300%;
    }
    100% {
        left: -400%;
    } */
}