@font-face {
    font-family: 'open-sans';
    src: url('../fonts/opensans-regular/OpenSans-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/opensans-regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/opensans-regular/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/opensans-regular/OpenSans-Regular.ttf') format('truetype');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'open-sans', sans-serif;
    font-size: 13px;
    background-color: #eeeeee;
}

/* Start of Sidebar css */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: rgb(47, 59, 74);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
    padding: 10px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:200px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 170px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 170px;
    }
    #page-content-wrapper {
        /* padding: 20px; */
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

section {
    margin-top: 70px;
}

.nav .dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}

.nav .dropdown-item {
    padding: 0rem 1.5rem;
    font-size: 12px;
}

.deskWrap {
    margin-top: 47.5px;
}

/* end of common styling */

/* Component Embedding on DOM Css  */

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

/* end of Component Embedding on DOM Css*/

.widgets .col {
    border-right: 2px solid rgba(107, 117, 124, 0.47);
}

.widgets .col:last-child {
    border-right: none;
}

.widgets .card-body {
    padding: 5px;
}

.active {
    color: rgb(255, 255, 255);
}

#sidebar-wrapper>.list-unstyled>.list-group-item {
    background-color: rgb(47, 59, 74);
    border: none;
}

#sidebar-wrapper>.list-unstyled>.list-group-item-action {
    color: rgb(255, 255, 255);
}

#sidebar-wrapper>.list-unstyled>.list-group-item.active {
    background-color: rgb(96, 109, 125);
    border: rgb(96, 109, 125);
    border-left: 2px solid #48cfad;
}

.pointing {
    float: right;
    margin: -3px -24px 0px 0px;
    display: none;
}

#sidebar-wrapper>.list-unstyled>.list-group-item.active>.pointing {
    display: block;
}

#sidebar-wrapper>.list-unstyled>.list-group-item-action:hover {
    transition: background-color 300ms ease-in;
}

.navbar>img:nth-child(1) {
    margin-right: 10px;
}

.marginWrap {
    margin-right: 10px;
    margin-bottom: 10px;
}

.marginWrap>img {
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.marginWrap>img:hover {
    cursor: pointer;
}

.headerShadow {
    box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.22);
}

.btn-trell {
    background: linear-gradient(60deg, #48cfad, #37bc9b);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.btn-trell:hover {
    cursor: pointer;
}

.page-header {
    margin-bottom: 10px;
    color: #676567;
    text-align: center;
}

.page-header h2 {
    padding: 10px 0px;
}

.page-header h2:after {
    position: absolute;
    content: "________________________________";
    left: 0;
    text-align: center;
    width: 100%;
    top: 23px;
    color: #ccc;
}

.page-header .btn {
    background-color: #fff;
    color: #76797d;
    border: 1px solid;
}

.page-header .btn:hover {
    background-color: #ff631f;
    color: #fff;
    border: 1px solid #ff631f;
}

.draggableWrap>.col-md-12:nth-child(2) {
    margin-bottom: 10px;
}

/* trail css */

.taskTrail {
    background-color: rgb(27, 26, 26);
    margin: 0;
}

.taskTrail>.col-md-8 {
    border-right: 1px solid rgba(68, 67, 67, 0.68);
}

.taskTrail>.col-md-4 {
    padding: 10px 0px 0px 11px;
}

.taskTrail>.col-md-4>ul>li:nth-child(1) {
    border-top: none !important;
}

.taskTrail>.col-md-4>ul>li:nth-child(5) {
    border-bottom: none !important;
}

.taskTrail>.col-md-4>ul>li {
    background-color: rgb(27, 26, 26);
    color: white;
    border-bottom: 1px solid rgb(60, 57, 57);
    border-top: 1px solid rgb(60, 57, 57);
}

.iconWrap {
    margin: -1px 10px;
}

.taskTrail>.col-md-4>ul>li>div>ul>li {
    background-color: rgb(27, 26, 26);
    padding: 0;
    margin-top: 10px;
}

.taskTrail>.col-md-4>ul>li>div>ul>li>img {    
    margin-right: 5px;
}
